name: animeflutter_player
description: Reproductor de video Flutter con Anime4K, AMD FMF y soporte total de formatos.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  libmpv_dart: ^0.1.0
  file_picker: ^6.0.0
  path_provider: ^2.1.0
  provider: ^6.0.0
  intl: ^0.19.0
  win32: ^5.0.0
  ffi: ^2.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true